<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCARE+</title>
    <link rel="stylesheet" href="./stylesheets/adminlogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <h1 class="logo">MediCARE+</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-container">
        <div class="welcome-section">
            <div class="rocket-icon">🚀</div>
            <p>Welcome</p>
        </div>
        <div class="login-section">
            <div class="login-header">
                <button class="login-btn">Patient</button>
                <button class="login-btn">Doctor</button>
                <button class="login-btn active">Admin</button>
            </div>
            <h2>Login as Admin</h2>
            <form action="/login" method="post" class="login-form">
                <div class="input-group">
                    <input type="email" id="email" placeholder="Email" name="email" value="">
                </div>
                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="password" value="">
                </div>

                <input type="submit" value="Login" name="login-btn" id="login-btn" class="submit-btn">
            </form>
        </div>
    </main>
</body>
</html>