<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCARE+</title>
    <link rel="stylesheet" href="./stylesheets/doctorlogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <header>
            <div class="logo">
               <h1>MediCARE<i class="fa-solid fa-plus"></i></h1> 
            </div>
            <nav>
                <a href="#">HOME</a>
                <a href="#">ABOUT US</a>
                <a href="#">CONTACT</a>
            </nav>
        </header>

        <div class="login-wrapper">
            <div class="welcome-section">
                <i class="fa-solid fa-truck-medical"></i>
                <h1>Welcome</h1>
            </div>

            <div class="form-section">
                <div class="form-container">
                    <div class="login-options">
                        <button class="option">Patient</button>
                        <button class="option active">Doctor</button>
                        <button class="option">Admin</button>
                    </div>
                    <h2>Login as Doctor</h2>
                    <form method="post"  action="/login">
                        <div class="input-group">
                            <input type="email" placeholder="Email"  id="username" value="" name="email" required>
                        </div>
                        <div class="input-group">
                            <input type="password" placeholder="password" id="password" name="password" value="" required>
                        </div>
                        <button type="submit" class="login-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>