
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background:white;
    }

    /* Navbar */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: #0072ff;
      color: white;
    }
    
    .navbar h1{
      margin:0;
    }
    .nav-links {
      display: flex;
      justify-content: flex-end;
      gap: 25px;
    }
    .nav-links a{
      text-decoration: none;
      color:white;
      font-weight: bold;
    }

    /* Container */
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }

    .box {
      display: flex;
      background: white;
      width: 850px;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

    /* Left Section */
    .left {
      background: #6a11cb;
      background: linear-gradient(135deg, #6a11cb, #2575fc);
      color: white;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 2px;
      font-weight: bold;
      
    }

    /* Right Section */
    .right {
      flex: 2;
      padding: 40px;
    }

    .tabs {
      margin-bottom: 15px;
    }
    .effect {
      background: #eee;
      border: none;
      padding: 10px 20px;
      margin-right: 10px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
    }
    .active {
      background: #6a11cb;
      color: white;
    }

    h2 {
      margin-bottom: 20px;
      color: #444;
    }

    .form-group {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }
    .form-group input {
      flex: 1;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .radio {
      margin-bottom: 15px;
    }

    .btn {
      background: #6a11cb;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
    }
    .btn:hover {
      background: #2575fc;
    }

    .already {
      margin-top: 15px;
      font-size: 14px;
    }
  
    .btn, a{
      text-decoration: none;
      color: white;
    } 
